.login-button {
    position: relative;
    left: 0;
    top: 8vh;
    right: 0;
}

.login-form {
    position: relative;
    left: 0;
    top: 10vh;
    right: 0;
}

ion-img {
    width: 30vw;
    position: relative;
    left: 35vw;
    top: 6vh;

}