<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/cart"></ion-back-button>
    </ion-buttons>
    <ion-title>Scan Barcode</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="vertical-center">
    <div class="center">
      <ion-img
        [src]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShlawe1Fr49Tn6622udcRxooyJKgIrL6IeZ7m8VAmhsRYwDFiM&s'"
        class="ion-align-self-end"></ion-img>
    </div>
  </div>

</ion-content>