<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Articoli per te</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ng-template [ngIf]="recommendations.length <= 0">
    <ion-text class="ion-text-center" color="secondary">
      <h3>Per adesso non ci sono articoli per te</h3>
    </ion-text>
  </ng-template>
  <ion-grid>
    <ng-container *ngFor="let i of getNumberSequence()">
      <ion-row *ngIf="i % 2 === 0">
        <ion-col size=6 *ngFor="let item of recommendations.slice(i, i+2)">
          <ion-card>
            <div style="text-align: right">
              <ion-button class="ion-no-padding" color="danger" fill="clear" (click)="deleteRecommendation(i)">
                <ion-icon name="close" slot="icon-only"></ion-icon>
              </ion-button>
            </div>
            <div class="ion-no-padding">
              <ion-item>
                <ion-label class="ion-no-margin ion-text-wrap" color="primary">
                  {{ item.getProduct().getName() | titlecase }}
                </ion-label>
              </ion-item>
            </div>
            <img [src]="item.getProduct().getImageUrl()">
            <ion-button color="primary" expand="block" size="small" (click)="navigateToDetail(i)">
              <b>Dettagli</b>
            </ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
</ion-content>