ion-item {
  --padding-end: 0px;
  --inner-padding-end: 0px;
  padding: 4px;
  // here other custom CSS from documentation
}

.background-image {
  position: relative;
  left: 0;
  top: 28vh;
  right: 0;
}

.bold-label {
  font-weight: bold;
  font-size: medium;
}

.delete-button {
  position: relative;
  bottom: 2.5vh;
  left: 1.7vw;
}

.product-label {
  position: relative;
  left: 6vw;
  bottom: 0.5 vh;
}