<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Articoli per te</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ng-template [ngIf]="newRecommendations.length <= 0">
    <div class="background-image">
      <ion-img src="assets/img/emptyList.png" class="ion-align-self-end bigger-image"></ion-img>
    </div>
  </ng-template>
  <ion-grid>
    <ng-container *ngFor="let ns of getNumberSequence()">
      <ion-row *ngIf="ns % 2 === 0">
        <ion-col size=6 *ngFor="let item of newRecommendations.slice(ns, ns+2); let i = index">
          <ion-card>
            <ion-item class="ion-no-padding">
              <ion-grid class="ion-no-padding">
                <ion-row class="card-top-row">
                  <ion-col size=9 class="ion-no-padding product-label">
                    <ion-label class="ion-no-margin ion-text-wrap cart-top-label" color="primary">
                      {{ item.getProduct().getName() | titlecase }}
                    </ion-label>
                  </ion-col>
                  <ion-col size=3 class="ion-no-padding delete-button">
                    <ion-button color="danger" fill="clear" (click)="deleteRecommendation(ns + i)">
                      <ion-icon style="font-size: medium" name="close" slot="icon-only"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
            <ion-item class="ion-no-padding">
              <img class="card-image" [src]="item.getProduct().getImageUrl()">
            </ion-item>
            <ion-button color="primary" expand="block" size="small" (click)="navigateToDetail(ns + i)">
              <b>Dettagli</b>
            </ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
</ion-content>