<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Articoli per te</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ng-template [ngIf]="recommendations.length <= 0">
    <ion-label class="text-center">Per adesso non ci sono articoli per te :(</ion-label>
  </ng-template>
  <ion-grid>
    <ng-container *ngFor="let i of getNumberSequence()">
      <ion-row *ngIf="i % 2 === 0">
        <ion-col size=6 *ngFor="let item of recommendations.slice(i, i+2)">
          <ion-card>
            <ion-card-header>
              <ion-item lines="full">
                <ion-card-title color="primary">{{ item.getProduct().getName() }}</ion-card-title>
                <ion-icon name="close" slot="end" (click)="deleteRecommendation(i)"></ion-icon>
              </ion-item>
              <img [src]="item.getProduct().getImageUrl()">
              <ion-card-subtitle>{{ item.getProduct().getDescription() }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-button color="primary" expand="block" size=small (click)="navigateToDetail(i)">
                <b>Dettagli</b>
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
</ion-content>