<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Catalogo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar #searchBar placeholder="Cerca un prodotto" (ionChange)="filter(searchBar, dropdownCategory)">
  </ion-searchbar>
  <ion-select #dropdownCategory cancel-text="Annulla" placeholder="Scegli una categoria"
    (ionChange)="filter(searchBar, dropdownCategory)" value="0">
    <ion-select-option value="0">
      Nessuna
    </ion-select-option>
    <ion-select-option *ngFor="let item of categories; let i = index" [value]="i+1">
      {{ item.getName() }}
    </ion-select-option>
  </ion-select>
  <ion-list>
    <ion-item *ngFor="let item of filteredProducts; let i = index">
      <ion-label>{{ item.getName() }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>