<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Catalogo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Cerca un prodotto"></ion-searchbar>
  <ion-list>
    <ion-item>
      <ion-label>Categoria 1</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Categoria 2</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Categoria 3</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Categoria 4</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Categoria 5</ion-label>
    </ion-item>
  </ion-list>

</ion-content>