<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Carrello</ion-title>
    <ng-template [ngIf]="cart.isActive()">
      <ion-buttons slot="start" (click)="navigateToRaccomandazioni()">
        <ion-button id="notification-btn">
          <ion-icon name="information-circle"></ion-icon>
        </ion-button>
        <ion-badge *ngIf="recommendationsNumber > 0" id="notification-badge" color="danger"
          style="font-size: xx-small;">{{ recommendationsNumber }}</ion-badge>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="navigateToScan()">
          <ion-icon slot="icon-only" name="barcode"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ng-template>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-template [ngIf]="!cart.isActive()">
    <ion-text class="ion-text-center new-cart-text" color="secondary">
      <h3>Non hai un carrello</h3>
      <h1><b>Avvia una sessione di spesa!</b></h1>
    </ion-text>
    <div class="background-image">
      <div class="center">
        <ion-img src="assets/img/cartEmpty.png" class="ion-align-self-end"></ion-img>
      </div>
    </div>
    <section>
      <ion-button expand="block" shape="round" class="ion-margin start-session" (click)="activateCart()">Avvia
        sessione
        <ion-icon slot="end" name="cart"></ion-icon>
      </ion-button>
    </section>
  </ng-template>
  <ng-template [ngIf]="cart.isActive()">
    <ion-item lines="full" color="light">
      <ion-thumbnail slot="start">
        <ion-icon ios="ios-cart" md="md-cart" size="large"></ion-icon>
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">Carrello di Acquirente</ion-label>
      <ion-note slot="end">
        <div>Totale: <b>{{ getTotalPrice() | number : '1.2-2' }} €</b></div>
        <div>Pezzi: <b>{{ getTotalQuantity() }}</b></div>
      </ion-note>
    </ion-item>
    <ion-list lines=full>
      <ng-template [ngIf]="cart.getItems().length <= 0">
        <ion-text class="ion-text-center" color="secondary">
          <ion-label>Non hai articoli nel carrello</ion-label>
        </ion-text>
      </ng-template>
      <ion-item-sliding *ngFor="let item of cart.getItems(); let i = index">
        <ion-item detail [routerLink]="'/articolo/' + item.getProduct().getBarcode()" routerLinkActive="active">
          <ion-avatar slot="start">
            <img [src]="item.getProduct().getImageUrl()">
          </ion-avatar>
          <ion-label>
            <ion-label color="danger">{{ item.getProduct().getName() }}</ion-label>
            <ion-label>{{ item.getProduct().getDescription() }}</ion-label>
            <ion-label>{{ item.getProduct().getPrice() | number : '1.2-2' }} € cad.</ion-label>
          </ion-label>
          <ion-note slot="end">
            x {{ item.getQuantity() }}<br>
            {{ item.getProduct().getPrice() * item.getQuantity() | number : '1.2-2' }} € tot.
          </ion-note>
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option color="danger" expandable type="reset" (click)="deleteItem(i)"> Delete
            <ion-icon style="font-size:large" slot="top" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item-options side="end">
          <ion-item-option color="medium" (click)="decreaseItem(i)">
            <ion-icon style="font-size:large" slot="icon-only" name="remove-circle">
            </ion-icon>
          </ion-item-option>
          <ion-item-option color="success" (click)="increaseItem(i)">
            <ion-icon style="font-size:large" slot="icon-only" name="add-circle"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ng-template>
</ion-content>
<ng-template [ngIf]="cart.isActive()">
  <ion-footer no-shadow no-border>
    <ion-button expand="block" shape="round" class="ion-margin session-button" (click)="deactivateCart()">Chiudi
      sessione
      <ion-icon slot="end" name="checkmark-circle"></ion-icon>
    </ion-button>
  </ion-footer>
</ng-template>