<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ng-template [ngIf]="product != undefined">
      <ion-title>{{ product.getName() }}</ion-title>
    </ng-template>
    <ng-template [ngIf]="product === null">
      <ion-title>Non trovato</ion-title>
    </ng-template>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card *ngIf="product">
    <img [src]="product.getImageUrl()" alt="Immagine non disponibile">
    <ion-card-header>
      <ion-card-subtitle>{{ product.getCategory().getName() }}</ion-card-subtitle>
      <ion-card-title>{{ product.getName() }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ng-template [ngIf]="!hasAnyDiscount()">
            <ion-text>
              {{ getUnitFullPrice() | number : '1.2-2' }}</ion-text>
          </ng-template>
          <ng-template [ngIf]="hasAnyDiscount()">
            <ion-text>
              <s>{{ getUnitFullPrice() | number : '1.2-2' }}</s>
            </ion-text>
            <ion-text>
              <b>&nbsp;{{ getUnitDiscountedPrice() | number : '1.2-2' }}</b>
            </ion-text>
          </ng-template>&nbsp;€ cad.
        </ion-row>
        <ion-row>
          {{ product.getDescription() }}
        </ion-row>
        <ion-row>
          <ion-col size=12>
            <ion-item lines="none" (click)="switchLists()">
              <b>Ingredienti e allergeni</b>
              <ion-button fill="clear" size="small">
                <ion-icon *ngIf="hiddenLists" name="arrow-dropdown" slot="icon-only"></ion-icon>
                <ion-icon *ngIf="!hiddenLists" name="arrow-dropup" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row [hidden]="hiddenLists">
          <ion-col size=6>
            <b>Ingredienti</b>
            <ul>
              <li *ngFor="let item of ingredients; let i = index">{{ item }}</li>
            </ul>
          </ion-col>
          <ion-col size=6>
            <b>Allergeni</b>
            <ul>
              <li *ngFor="let item of product.getAllergens(); let i = index">{{ item.getName() }}</li>
            </ul>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid *ngIf="recommendationId != null">
        <ion-row>
          <ion-col size=2></ion-col>
          <ion-col size=8>
            <ion-button color="primary" expand="block" size=small (click)="startSpecificScan()">
              Scansiona
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid *ngIf="cartItem !== undefined">
        <ion-row *ngIf="hasAnyDiscount()">
          <ion-col size=12 class="ion-text-center">
            <ion-label>
              <s>{{ getFullPrice() | number : '1.2-2' }} €</s>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size=12 class="ion-text-center">
            <ng-template [ngIf]="!hasAnyDiscount()">
              <ion-text style="font-size: 1.2em">
                {{ getFullPrice() | number : '1.2-2' }} €</ion-text>
            </ng-template>
            <ng-template [ngIf]="hasAnyDiscount()">
              <ion-text style="font-size: 1.2em">
                <b>{{ getDiscountedPrice() | number : '1.2-2' }} €</b>
              </ion-text>
            </ng-template>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size=4>
            <ion-button expand="block" size=small color="danger" (click)="decreaseQuantity()">
              <ion-icon style="font-size: medium" slot="icon-only" name="remove-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size=4 class="ion-text-center" style="vertical-align: middle">
            <ion-text style="font-size: 1.2em">
              x {{ cartItem.getQuantity() }}
            </ion-text>
          </ion-col>
          <ion-col size=4>
            <ion-button expand="block" size=small color="success" (click)="increaseQuantity()">
              <ion-icon style="font-size: medium" slot="icon-only" name="add-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size=2></ion-col>
          <ion-col size=8>
            <ion-button color="primary" expand="block" size=small (click)="addToCart()">
              Aggiungi
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-text *ngIf="product === null" class="ion-text-center" color="secondary">
    <h3>Non hai articoli nel carrello</h3>
  </ion-text>
</ion-content>